.btn-weith {
    width: 20%;
  }
  .cont-margin {
    // padding-bottom: 2%;
    // padding-top: 5%;
  }
  .field-form1 {
    background-color: #f3f3f3;
    border-color: #757c88;
    width: 85%;
    height: 55%;
  }
  .cont2 {
    // padding-left: 4%;
    // padding-right: 4%;
  }
  .field-form2 {
    background-color: rgb(243, 243, 243);
    border-color: #757c88;
    margin-right: 8%;
  }
  .img-plus {
    color: #dcdee0;
  }
  .pack-img {
    font-size: 10px;
  }