<div class="px-4 py-5 chat-box bg-white">
    <div *ngFor="let message of discussFils">
        <app-send-message [message]="message"  *ngIf="message.senderIsAuthUser"></app-send-message>

        <app-received-message [message]="message" *ngIf="!message.senderIsAuthUser"></app-received-message>
    </div>
    
</div>