<app-nav-bar></app-nav-bar>

<!-- figurative filling of content -->
<br><br>
<div class="container container-global cont-margin text-center bg-grey">
  <h3 class="jaune text-center mx-4">{{title}}</h3><br>
  <div class="form-group row">
    <div class="col-md-1"></div>
      <div class="col-md-4 bg-jaune rounded-lg">
          <div class="col-12 media">
            <img class="profile rounded-circle border" alt="Transport of persons"
              src="assets/img/Transport of person new.png" data-holder-rendered="true">
            <div class="media-body">
              <h4 class="text-left"><strong>Transport of persons</strong></h4>
              <p class="my-4 mx-2 text-left">Request a transport for yourself or anyone and get the best option</p>

            </div>
          </div>
          <!-- Default checked -->
          <div class="col-1">
            <input type="radio" class="radio-style align-middle" id="" name="">
          </div>
      </div>

      <div class="col-md-2"></div>

      <div class="col-md-4 bg-jaune rounded-lg">
        <div class="col-12 media">
          <img class="profile rounded-circle border" alt="Transport of persons"
            src="assets/img/Shipment_carrier new.png" data-holder-rendered="true">
          <div class="media-body">
            <h4 class="text-left"><strong>Transport of parcels</strong></h4>
            <p class="my-4 mx-2 text-left">Request a transport for parcels or for your relatives and get the best option.
            </p>

          </div>
        </div>
        <!-- Default checked -->
        <div class="col-1">
          <input type="radio" class="radio-style align-middle" id="persone" name="">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

  <button type="button" class="btn next-button btn-weith" routerLink="/register">Next</button>
</div>

<app-front-footer></app-front-footer>