<div >
  <div class="row">
    <br>
    <h4 class="mb-2 text-left title-form"> Carriers List available for your request.</h4>
    <br><br>
  </div>

  <div class="row">
    <!-- <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>Driver</th>
          <th>Location</th>
          <th>Vehicles</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="showProviderDetail(provider)" *ngFor="let provider of providerList">
          <td>{{provider.name}}</td>
          <td>{{provider.getLocationString()}}</td>
          <td>{{provider.getVehiculeString()}}</td>
        </tr>

      </tbody>
    </table>
    <nav>
      <ul class="pagination pull-right">
        <li class="page-item"><a class="page-link">Prev</a></li>
        <li class="page-item active">
          <a class="page-link">1</a>
        </li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
      </ul>
    </nav> -->
    <div class="col-12">
      <mat-selection-list #listSelectUser>
        <ng-container *ngIf="(!loadProvidersData && providerList.length>0) || !waitSelectedProvider">
            <mat-list-option class="container" *ngFor="let provider of providerList" [value]="provider">
                <div class="row">
                    <div class="col-3">
                        <img src="./../../../../../../assets/img/user_image.png" class="responsive-img rounded" alt="...">
                    </div>
                    <div class="col-9">
                        <span>{{provider.getSimpleName()}}</span>
                        <span style="font-style: italic;" matLine> {{provider.isCompany?provider.companyName:'No Company'}} </span>
                        <span (click)="showProviderDetail(provider)" class="suppier-detail"  matLine> Supplier details </span>
                    </div>
                </div>        
                <mat-divider></mat-divider>   
                <br>                        
            </mat-list-option>                     
        </ng-container>   
        <div *ngIf="loadProvidersData==false && providerList.length==0" class="d-flex-justify-content-center"><span>No provider found</span></div>
        <div class="d-flex justify-content-center" *ngIf="loadProvidersData==true || waitSelectedProvider">
          <app-progress-indeterminate></app-progress-indeterminate>
        </div>
                      
      </mat-selection-list> 
    </div>
  </div>
  <div class="footer-registration text-right">

  </div>
  <div class="footer-registration text-right">
    <a [routerLink]="['/post-requests/packages/add']" class="btn next-button btn-w">
      Previous
    </a>

    <button type="button" (click)="confirmAction()" [disabled]="selectedUserProviderInfos==null || waitSelectedProvider" class="btn next-button btn-w">
      Submit
    </button>
  </div>
</div>