.btn-weith {
  width: 20%;
}
.cont-margin {
  padding-bottom: 2%;
  padding-top: 5%;
}
.field-form1 {
  background-color: #f3f3f3;
  border-color: #757c88;
  width: 85%;
  height: 55%;
}
.cont2 {
  padding-left: 4%;
  padding-right: 4%;
}
.field-form2 {
  background-color: rgb(243, 243, 243);
  border-color: #757c88;
  margin-right: 8%;
}
.img-plus {
  color: #dcdee0;
}
.pack-img {
  font-size: 10px;
}

.btn-w {
  width: 25%;
}
.btn-w2 {
  width: 16%;
}
.cont-margin {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 64%;
}
.title-style {
  margin-bottom: 6%;
}
.footer-registration {
  margin-top: 5%;
}
.skip-btn {
  background-color: rgb(245, 244, 201);
}
.cont {
  height: 540px;
}
.b-mag {
  margin-top: 20%;
}








.btn-weith {
  width: 20%;
}
.field-form1 {
  background-color: #f3f3f3;
  border-color: #757c88;
  width: 85%;
  height: 55%;
}
.field-form2 {
  background-color: rgb(243, 243, 243);
  border-color: #757c88;
  margin-right: 8%;
}
.img-plus {
  color: #dcdee0;
}
.pack-img {
  font-size: 10px;
}
.border {
    border: 1px solid rgb(223, 166, 33) !important;
    padding: 5px;
  }

  mat-selection-list {
    max-height: 400px;
    overflow: auto;
  }
.rounded-smal-pp
 {
     vertical-align: middle;
 }
 mat-list-option
 {
     height: 100px!important;
 }

 .suppier-detail
 {
  font-style: italic;
 }
 .suppier-detail:hover
 {
  text-decoration: underline;
 }