<!-- Package Details-->
<h4 class="mb-2 text-center title-form"><b> <u>Wait Payment</u></b></h4>
<!-- row-item-->
<br>
<br><font size=3>The negotiation is currently on hold.
   Please wait for the customer's confirmation before starting the service.</font>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="myModal.hide()"
    style="background-color: red !important;">Stop</button>
</div>