<app-nav-bar></app-nav-bar>

<!-- figurative filling of content -->
<div class="section-full overlay-wraper bg-light px-5 py-4" style="background-color: #fffffff6 !important;">
    <div class="container px-5">
        <br><br><br><br>
        <div class="section-head  text-black" style="margin-bottom: 30px;">
            <h1 ><b>Requests</b></h1>
        </div>

        <div class="col-md-12">
            <div class="row" style="background-color: white;">
                <div class="col-md-12 px-2 pt-4" style=" border: 1px solid rgb(231, 230, 230);">
                    <div class="row">
                        <div class="col-sm-9 " style="margin-top: auto; margin-bottom: auto;">
                                <h5> <b>Request 1</b> </h5>
                                <p> Comments </p> <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 px-2 pt-4" style=" border: 1px solid rgb(231, 230, 230);">
                    <div class="row">
                        <div class="col-sm-9 " style="margin-top: auto; margin-bottom: auto;">
                                <h5> <b>Request 2</b> </h5>
                                <p> Comments </p> <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 px-2 pt-4 pb-5" style=" border: 1px solid rgb(231, 230, 230);">
                    <div class="row">
                        <div class="col-sm-9 " style="margin-top: auto; margin-bottom: auto;">
                                <h5> <b>Request 3</b> </h5>
                                <p> Comments </p> <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 px-2 pt-4 pb-5" style=" border: 1px solid rgb(231, 230, 230);">
                    <div class="row">
                        <div class="col-sm-9 " style="margin-top: auto; margin-bottom: auto;">
                                <h5> <b>Request 4</b> </h5>
                                <p> Comments </p> <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-front-footer></app-front-footer>
