<!-- Footer -->
<footer class="page-footer font-small footer pt-4  mdl-mega-footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3  mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">
          <a href="index.html">
            <img class="logo" src="assets/img/logo.png" alt="KarrynGo">
          </a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="mb-4">About</h5>
        <p>
          <i class="fas fa-home fa-2x mr-3 jaune"></i> 97A, 2nd Avenu, Fontainebleau
        </p>
        <p>
          <i class="fas fa-envelope fa-2x mr-3 jaune"></i> contact@karryngo.com
        </p>
        <p>
          <i class="fas fa-mobile-alt fa-2x mr-3 jaune"></i> +27 730 115 992
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="mb-4">Terms</h5>
         <a routerLink="/privacy-policy">
          <p class="jaune">PRIVACY POLICY</p>
        </a>
        <a routerLink="/terms-and-conditions">
          <p class="jaune">TERMS & CONDITIONS</p>
        </a>
        <a routerLink="/terms-and-conditions">
          <p class="jaune">COPYRIGHT POLICY</p>
        </a>
        <a routerLink="/terms-and-conditions">
          <p class="jaune">FREES AND CHARGES</p>
        </a>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center my-4">
            <ul class="list-unstyled custom-control-inline my-4">
              <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/pages/category/Product-Service/Karryngo-2319923171666955/">
                  <i class="fab fa-facebook-square fa-2x  jaune"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/company/karryngo">
                  <i class="fab fa-linkedin fa-2x  jaune"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/karryngo">
                  <i class="fab fa-twitter-square fa-2x  jaune"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.youtube.com/channel/UCetqqDbIVRWWQw_kuQz6CTQ">
                  <i class="fab fa-youtube fa-2x  jaune"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com/contact.karryngo/?hl=fr">
                  <i class="fab fa-instagram fa-2x  jaune"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

    </div>
    <!-- Footer links -->

    <hr>
  </div>
  <!-- Footer Links -->

  <!-- Grid row -->
  <div class="d-flex align-items-center bottom-footer">

    <!-- Grid column -->
    <div class="col-md-10 col-lg-11">

      <!--Copyright-->
      <p class="text-md-right">© 2021 Copyright:
        <a href="#">
          <strong> karryngo</strong>
        </a>
      </p>

    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

</footer>
<!-- Footer -->
