<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-3 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4">{{titleInterface}}</h3>
        </div>
        <div class="container cont2">

          <div class="cont">
            <div *ngIf="interface1">
              <app-post-request-trip0></app-post-request-trip0>
            </div>
            <div *ngIf="interface2">
              <app-post-request-trip1></app-post-request-trip1>
            </div>
            <div *ngIf="interface3">
              <app-post-request-trip2></app-post-request-trip2>
            </div>
          </div>
          <br><br><br>

          <div class="footer-registration text-right">
            <button *ngIf="visiblePrev" type="button" class="btn next-button btn-w" (click)="prev()">Back</button>
            <button *ngIf="visible" type="button" class="btn next-button btn-w"
              (click)="next()">
              NEXT
            </button>
          </div>
          <button *ngIf="!visible" type="button" class="btn next-button b-mag" (click)="myModal.show()">Confirm</button>

        </div>
      </div>
      <!-- Start your project here-->

    </div>

    <div class="col-sm-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4">My requests list</h3>
        </div>
        <div class="container cont2">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Start</th>
                <th>To</th>
              </tr>
            </thead>
            <tbody (click)="showNotification()">
              <!-- <tr *ngFor="let trip of posts">
                <td>
                  <span class="badge badge-secondary">{{trip.status}}</span>
                </td>
                <td>{{trip.date}}</td>
                <td>{{trip.address.from.cityStart}}</td>
                <td>{{trip.address.to.cityArrived}}</td>
              </tr> -->
              <tr>
                <td>
                  <span class="badge badge-secondary">Stand by</span>
                </td>
                <td>2021/02/05</td>
                <td>Douala</td>
                <td>Bafoussam</td>
              </tr>
              <tr>
                <td>
                  <span class="badge badge-danger">Canceled</span>
                </td>
                <td>2021/02/01</td>
                <td>Yaounde</td>
                <td>Douala</td>
              </tr>
              <tr>
                <td>
                  <span class="badge badge-success">Finished</span>
                </td>
                <td>2021/01/15</td>
                <td>Bangangte</td>
                <td>Yaounde</td>
              </tr>
              <tr>
                <td>
                  <span class="badge badge-success">Finished</span>
                </td>
                <td>2020/12/30</td>
                <td>Bafoussam</td>
                <td>Bangangte</td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination pull-right">
              <li class="page-item"><a class="page-link">Prev</a></li>
              <li class="page-item active">
                <a class="page-link">1</a>
              </li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>