.cont-margin{
    padding-top: 3%;
    padding-bottom: 3%;
}
.mag-div{
    padding-top: 3%;
    padding-bottom: 3%;
}

.cont{
    margin-bottom: 16%;
    margin-top: 7%;
    padding-left: 2%;
    padding-right: 2%;
}
.btn-weith{
    width: 20%;
}
.radio-style{
    font-size: 30%;
    color: black;
}