.btn-hei {
  padding-bottom: 1%;
  padding-top: 1%;
}
.no-happy {
  color: rgb(104, 103, 103);
  margin-top: 3%;
}
.cont-margin {
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
}
.table-style {
  background-color: white;
}
.tfooter {
  background-color: white;
}
