<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4 mb-4">
          Your traffic
          </h3>
        </div>
        <div class="card-body">
          <br>Transport
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Agency name</th>
                <th>Drivers</th>
                <th class="text-center">Packages</th>
                <th class="text-center">status</th>
                <th class="text-center" style="color: #63c2de;">start</th>
                <th style="color: green;" class="text-center">End</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let projet of unreadProjetList">
                <td class="text-center">
                  <div>{{projet.provider.isCompany?projet.provider.companyName :'/'}}</div>
                </td>
                <td>
                  <div>{{projet.pkg.state=='service_in_transaction_state'?projet.provider.getSimpleName():'/'}}</div>
                </td>
                <td class="text-center">
                  <div>{{projet.pkg.title}}</div>
                </td>
                <td class="text-center">
                  <i class="bi-{{getPackageIcon(projet)}}" role="img" style="color: green !important;font-weight: bolder; font-size: larger;" aria-hidden="true"></i>
                </td>
                <td class="text-center">
                  {{projet.pkg.from.city}}
                  <div class="small text-muted">
                     {{projet.pkg.date_departure}}
                  </div>
                </td>
                <td class="text-center">
                  {{projet.pkg.to.city}}
                  <div class="small text-muted">
                    {{projet.pkg.date_arrival}}
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
          <br>
      </div>
      <!-- ///// -->

      <!-- <div class="card">
        <div class="card-header">
          General traffic
        </div>
        <div class="card-body">
          <div class="row justify-content-center pt-4 pb-4">
            <div class="col-md-12 text-center">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div> -->

      
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
