<div class="card mb-4 text-center">
  <div class="card-body">
    <img src="./assets/params/images/logo/dharma.png" height="70" width="70">
    <p class="card-text mt-3">No {{ found }} matches the specified search trip</p>
    <h6 class="card-title font-weight-bold text-primary">
      {{ searchField }}
    </h6>
    <blockquote class="blockquote">
      <p class="text-left text-primary">Suggestions</p>
      <h6 class="text-left">Try other keywords</h6>
      <h6 class="text-left">Delete search filters</h6>
      <hr>
      <h6 class="text-left text-info">Create new trip</h6>
      <button type="button" class="font-weight-bold btn btn-outline-info btn-sm mt-4" (click)="createItem()">
        <i class="fas fa-plus fa-lg mr-2"></i>Create {{ creation }}
      </button>
    </blockquote>
  </div>
</div>