<!-- Sender Message-->
<div class="media w-50 ml-auto mb-3">
    <!-- <img [src]="message.from.field_image" alt="user" width="50" class="rounded-circle"> -->
    <div class="media-body ml-3">
        <div class="bg-light rounded py-2 px-3 mb-2">
            <p class="text-small mb-0 text-muted">{{message.message.content}}</p>
        </div>
        <p class="small text-muted">{{parseDate(message.message.date)}}</p>
    </div>
    <img src="../../../../assets/img/user_image.png" alt="user" width="50" class="rounded-circle">
</div>