<!-- Mask & flexbox options-->
<div class="mask rgba-black-light d-flex justify-content-left align-items-center vheader">

  <!-- Content -->
  <div class="container white-text wow fadeIn">
    <h3 class="jaune">
      <strong>We are leading</strong>
    </h3>

    <h1 class="htitle">
      <strong>AFRICA</strong>
    </h1>

    <h1 class="htitle">
      <strong>FREIGHT FORWARDING</strong>
    </h1>

    <!-- <a href="#" class="">
      <button type="button" class="btn btn-yellow btn-sm">GET RATE QUOTE</button>
    </a> -->
  </div>
  <!-- Content -->

</div>
<!-- Mask & flexbox options-->