<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header">
          Trips
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>
