/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    // background-color: #f1f1f1;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    // padding: 6px 12px;
    border: none;
    border-top: none;
  }
  .btn-weith {
    width: 20%;
  }
  .field-form1 {
    background-color: #f3f3f3;
    border-color: #757c88;
    width: 85%;
    height: 55%;
  }
  .cont2 {
    // padding-left: 4%;
    // padding-right: 4%;
  }
  .field-form2 {
    background-color: rgb(243, 243, 243);
    border-color: #757c88;
    margin-right: 8%;
  }
  .img-plus {
    color: #dcdee0;
  }
  .pack-img {
    font-size: 10px;
  }
  
  