.btn-weith {
  width: 20%;
}
.cont-margin {
  padding-bottom: 2%;
  padding-top: 5%;
}
.field-form1 {
  background-color: rgb(243, 243, 243);
  width: 85%;
}
.cont2 {
  padding-left: 4%;
  padding-right: 4%;
}
