<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4 mb-4">Create A Trip Request</h3>
        </div>
        <div class="card-body">
          <!-- Start your project here-->
          <div class="container cont2">
            <!-- Default form register -->
            <form class="text-center p-2">

              <!-- row-item-->
              <div class="form-row mb-3">
                <div class="col">
                  <!-- First name -->
                  <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
                    placeholder="From">
                  <p class="title-form sub-indication text-left">Departure city</p>
                </div>
                <div class="col">
                  <!-- Last name -->
                  <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
                    placeholder="To">
                  <p class="title-form sub-indication text-left">Arrival city</p>
                </div>
              </div>
              <!-- row-item-->

              <!-- row-item-->
              <div class="form-row mb-3">
                <div class="col">
                  <!-- First name -->
                  <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
                    placeholder="Date">
                  <p class="title-form sub-indication text-left">Date</p>
                </div>
                <div class="col">
                  <!-- Last name -->
                  <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
                    placeholder="Number of seats">
                </div>
              </div>
              <!-- row-item-->

              <!-- row-item-->
              <div class="form-row m2">
                <div class="col">
                  <select class="form-control field-form1 field">
                    <option selected>Prefered Service Type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col">
                  <select class="form-control field-form1 field">
                    <option selected>Prefered Service Type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <!-- row-item-->

              <!-- row-item-->
              <div class="form-row form-group shadow-textarea m2">
                <label for="exampleFormControlTextarea6">Message</label>
                <textarea class="form-control field-form2 z-depth-1" id="exampleFormControlTextarea6" rows="3"
                  placeholder="Tell us a little bit more about your package and provide us with all specific request"></textarea>
              </div>
              <!-- row-item-->

            </form>
            <!-- Default form register -->
            <button type="button" class="btn next-button btn-weith">GO</button>
          </div>
        </div>
        <!-- Start your project here-->

      </div>
    </div>
  </div>
</div>
