<app-nav-bar></app-nav-bar>
<!-- figurative filling of content -->
<div class="section-full overlay-wraper bg-light px-5 py-4" style="background-color: #fffffff6 !important;">
    <div class="container px-5">
        <div class="section-head  text-black" style="margin-bottom: 30px;">
            <h1 ><b>How does it work</b></h1>
        </div>

        <div class="col-md-12">
            <div class="row" style="background-color: white;">
                <div class="col-md-12 px-2 pt-4 pb-5" style=" border: 1px solid rgb(231, 230, 230);">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="assets/homestyle/images/testimonials/pic61.jpg" height="150px" width="150px" alt="" style="border-radius: 50%">
                        </div>
                        <div class="col-sm-9 " style="margin-top: auto; margin-bottom: auto;">
                            <h5> <b>Transport of packages</b> </h5>
                            <p> People with a means of transport, who move from one place to another, take care of transporting your packages. Each profile on karryNgo is certified by our team.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 px-2 pt-4 pb-5" style=" border: 1px solid rgb(231, 230, 230);">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="assets/homestyle/images/testimonials/pic62.jpg" height="150px" width="150px" alt="" style="border-radius: 50%">
                        </div>
                        <div class="col-sm-9 " style="margin-top: auto; margin-bottom: auto;">
                            <h5> <b>Carpooling</b> </h5>
                            <p> Do you want to move but you don't have a vehicle? We put you in touch with people who will take the same route as you at a lower cost.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 px-2 pt-4 pb-5" style=" border: 1px solid rgb(231, 230, 230);">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="assets/homestyle/images/testimonials/pic63.jpg" height="150px" width="150px" alt="" style="border-radius: 50%">
                        </div>
                        <div class="col-sm-9 " style="margin-top: auto; margin-bottom: auto;">
                            <h5> <b>Import / Export</b> </h5>
                            <p>Benefit from services of incomparable ease and speed of import and export of your packages. Travelers take charge of your packages as if it were for them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-front-footer></app-front-footer>
