.imag {
    background-image: url('./../../../assets/img/chauffeur2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
}

input:focus {
    outline: 25 25 25 25 !important;
    box-shadow: 25 25 25 25 !important;
    border-color: rgb(240, 213, 60);

}

.btn-weith {
    width: 20%;
  }
.cont-margin {
  // padding-bottom: 2%;
  // padding-top: 5%;
}
.field-form1 {
  background-color: #f3f3f3;
  border-color: #757c88;
  width: 85%;
  height: 55%;
}
.cont2 {
  // padding-left: 4%;
  // padding-right: 4%;
}
.field-form2 {
  background-color: rgb(243, 243, 243);
  border-color: #757c88;
  margin-right: 8%;
}
.img-plus {
  color: #dcdee0;
}
.pack-img {
  font-size: 10px;
}
.border {
    border: 1px solid rgb(223, 166, 33) !important;
    padding: 5px;
  }

a{
color: rgb(240, 213, 60)
}

.social_icon span{
  font-size: 35px;
  margin-left: 10px;
  color: #FFC312;
  }

  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }

  .card-header h3{
  color: white;
  }

  .social_icon{
  position: absolute;
  right: 20px;
  bottom: 0px;
  }
