<app-nav-bar></app-nav-bar>

<div class="imag">
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-md-7 bg-white my-5 card"
                style="margin-right: auto; margin-left: auto; border-radius: 15px; color: white; background-color: rgba(10, 10, 10, 0.82) !important;">
                <div class="p-4"
                    style="margin-bottom: 20px; margin-top: 20px; text-align: center; border-bottom: 1px solid gray;">
                    <h3 style="font-size:20px;"><b>Registration</b></h3>
                </div>

                <div class="row p-1" style="font-size:15px;">
                    <div class="col-md-12 card-body">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-group row mx-2">
                                <div class="mb-4 col-md-6">
                                    <label for="field_firstname">First name</label>
                                    <input type="text"
                                        id="field_firstname"
                                        formControlName="field_firstname"
                                        placeholder="Enter you First name" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.field_firstname.errors }">
                                    <div *ngIf="submitted && f.field_firstname.errors"
                                        class="invalid-feedback text-danger">
                                        <div *ngIf="f.field_firstname.errors.required">First name is required</div>
                                    </div>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="field_surname">Surname</label>
                                    <input type="text"
                                        id="field_surname"
                                        formControlName="field_surname"
                                        placeholder="Enter you Last name"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.field_surname.errors }">
                                    <div *ngIf="submitted && f.field_surname.errors"
                                        class="invalid-feedback text-danger">
                                        <div *ngIf="f.field_surname.errors.required">Surname is required</div>
                                    </div>
                                </div>
                                <!-- <div class="mb-4 col-md-6">
                                    <label for="field_username">User name</label>
                                    <input type="text"
                                        id="field_username"
                                        formControlName="field_username"
                                        placeholder="Enter you User name"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.field_username.errors }">
                                    <div *ngIf="submitted && f.field_username.errors"
                                        class="invalid-feedback text-danger">
                                        <div *ngIf="f.field_username.errors.required">User name is required</div>
                                    </div>
                                </div> -->
                                <div class="mb-4 col-md-12">
                                    <label for="field_email">Email</label>
                                    <input type="text"
                                        id="field_email"
                                        formControlName="field_email"
                                        placeholder="Enter you Email"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.field_email.errors }">
                                    <div *ngIf="submitted && f.field_email.errors" class="invalid-feedback text-danger"
                                    [ngClass]="{ 'is-invalid': submitted && f.field_email.errors }">
                                        <div *ngIf="f.field_email.errors.required">Email is required</div>
                                    </div>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="field_password">Password</label>
                                    <input type="password"
                                        id="field_password"
                                        formControlName="field_password"
                                        placeholder="Enter your password"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.field_password.errors }">
                                    <div *ngIf="submitted && f.field_password.errors"
                                        class="invalid-feedback text-danger">
                                        <div *ngIf="f.field_password.errors.required">Password is required</div>
                                    </div>
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="field_password2">Confirm password</label>
                                    <input type="password"
                                        id="field_password2"
                                        formControlName="field_password2"
                                        placeholder="Confirm your password"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.field_password2.errors }">
                                    <div *ngIf="submitted && f.field_password2.errors"
                                        class="invalid-feedback text-danger">
                                        <div *ngIf="f.field_password2.errors.required">Confirmation is required</div>
                                        <div *ngIf="f.field_password2.errors.mustMatch">Passwords must match</div>
                                    </div>
                                </div>
                                <div class="form-row col-md-12">
                                    <div class="form-group col-md-4">
                                        <label for="field_country">Country</label>
                                        <select 
                                            id="field_country"
                                            formControlName="field_country"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.field_country.errors }">
                                            <option value="Cameroon" selected>Cameroon</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Nigeria">Nigeria</option>
                                        </select>
                                        <div *ngIf="submitted && f.field_country.errors"
                                            class="invalid-feedback text-danger">
                                            <div *ngIf="f.field_country.errors.required">Country is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="field_city">City</label>
                                        <input type="text"
                                            id="field_city"
                                            formControlName="field_city"
                                            class="form-control"
                                            placeholder="Enter you City"
                                            [ngClass]="{ 'is-invalid': submitted && f.field_city.errors }">
                                            <div *ngIf="submitted && f.field_city.errors"
                                                class="invalid-feedback text-danger">
                                                <div *ngIf="f.field_city.errors.required">City is required</div>
                                            </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="field_accontType">Phone number</label>
                                        <input type="number"
                                            id="field_phone"
                                            formControlName="field_phone"
                                            placeholder="Enter you Phone Number"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.field_phone.errors }">
                                            <div *ngIf="submitted && f.field_phone.errors"
                                                class="invalid-feedback text-danger">
                                                <div *ngIf="f.field_phone.errors.required">Phone is required</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mx-2">
                                <div class="mb-4 col-md-12">
                                    <span class="pull-left" style="margin-top: -15px;">
                                        <!-- <input id="user_agree" formControlName="user_agree" class="checkbox-custom"
                                            name="checkbox-1" type="checkbox"> -->
                                        <label for="user_agree" class="checkbox-custom-label"> I accept the Terms and
                                            Conditions Policy.</label><br>
                                            <label class="switch switch-label switch-pill switch-warning">
                                              <input type="checkbox"
                                                class="switch-input"
                                                id="user_agree"
                                                name="checkbox-1"
                                                [ngClass]="{ 'is-invalid': submitted && f.user_agree.errors }"
                                                formControlName="user_agree"
                                                checked>
                                              <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                                            </label>
                                    </span>

                                    <div *ngIf="submitted && f.user_agree.errors" class="invalid-feedback text-danger">
                                        <div *ngIf="f.user_agree.errors.required">Agree is required</div>
                                    </div>
                                </div>
                            </div><br>
                            <app-progress-indeterminate *ngIf="waitingRegistration"></app-progress-indeterminate>
                            <span class="pull-right">
                                <button type="submit" *ngIf="!waitingRegistration" class="Register registermodal-submit btn btn-warning"
                                    value="Register" (click)="onSubmit()">Register</button>
                            </span>
                            <div *ngIf="!waitingRegistration && submitted" class="row red"><span
                                    class="col-12 text-center">Please make sure that the information is correct.</span></div>
                            <br><br>
                        </form>
                    </div>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <br><br>
                <p style="color: white; font-size:15px;">Already have an account? <a href="javascript:void(0)"
                        (click)="navigateToLogin()"> Login.</a></p>
            </div>
        </div>
    </div>
</div>

<app-front-footer></app-front-footer>