<!-- Reciever Message-->
<div class="media w-50 mb-3">
    <img src="../../../../assets/img/user_image.png" alt="user" width="50" class="rounded-circle">
    <div class="media-body">
        <div class="bg-primary rounded py-2 px-3 mb-2">
            <p class="text-small mb-0 text-white">{{message.message.content}}</p>
        </div>
        <p class="small text-muted">{{parseDate(message.message.date)}}</p>
        </div>
</div> 