.navbar{
    background-color: #efefef;
    font-weight: bold;
 }
 #liNav li{
    margin-right: 15px;
 }
 #liAuth li, img{
    list-style: none;
    display: inline;
    font-size: 17px;
 }
 .navbar-toggler{
   background-color: #fecd0b !important;
 }
form ul li a{
  color:rgb(253, 204, 9) !important;
}
.logo{
   height: 60px !important;
}