// #di{
//     max-height: 175px;
//     overflow: hidden;
// }
// #di:hover #im{
//     width: 400px;
//     height: 300px;
// }

// #myCheck{
//     visibility: hidden;
// }

h1{
	font-size: 32px;
	color: #12000a;
	font-weight: 300;
	font-family: cursive;
	text-shadow: 0px 0px 4px #eeb839;
	animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite !important;
  }

  .wrap{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  }

// .badg .container {
//     margin-top: none !important;
//     width: inherit !important;
// }
.title{
    align-items: left;
    size: 8px;
}
/*********************************
badg
*********************************/

.badg
{
	//padding-top: 10px;
	padding-bottom: 50px;
	background: #FFFFFF;
}
.badg_row
{
    margin-right: -15px;
    margin-left: -15px;
	margin-top: 50px;
}
.badg_item
{
	width: 60%;
	// background: #f3f4f5;
	margin-top: 5px;
    border-radius: 10%;
}
.badg_image
{
	width: 100%;
}

.badg_image:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  
.badg_image img
{
	max-width: 80%;
}
.badg_content
{ 
	padding-top: 10px;
	padding-left: 33px;
	padding-right: 33px;
	padding-bottom: 10px;
}
.badg_title
{
	font-family: 'gill', sans-serif;
	font-size: 15px;
    color: #000;
    text-shadow: 0px 0px 3px;
}
.badg_text
{
	margin-top: 14px;
}
.badg_text p:last-of-type
{
	margin-bottom: 0;
}
.badg_button
{
	position: absolute;
	left: 33px;
	bottom: -21px;
	width: 122px;
	height: 41px;
	background: rgb(253, 204, 9);
    text-align: center;
    border-radius: 15% 15% 15% 15%;
}
.badg_button a
{
	display: block;
	position: relative;
	font-family: 'gill', sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 41px;
	z-index: 1;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.badg_button a::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 50%;
	height: 100%;
	background: #FFFFFF;
	content: '';
	opacity: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	z-index: -1;
}
.badg_button:hover a::after
{
	width: 100%;
	opacity: 1;
}
.badg_button:hover a
{
	color: #ffa800;
}

/*********************************
Features
*********************************/

.features
{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
	background: #FFFFFF;
}
.section_subtitle
{
	font-family: 'gill', sans-serif;
	font-size: 12px;
	color: #a5a5a5;
	text-transform: uppercase;
	padding-top: 30px;
	padding-left: 3px;
	letter-spacing: 0.2em;
}
.section_subtitle::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 2px;
	width: 68px;
	height: 3px;
	background: #ffa800;
	content: '';
}
.section_title
{
	font-family: 'gill', sans-serif;
	font-size: 40px;
	color: #212121;
	margin-top: -7px;
}
.section_text
{
	font-size: 16px;
	line-height: 1.875;
	color: #838383;
	margin-top: 23px;
}
.section_text p:last-of-type
{
	margin-bottom: 0;
}
.features_button
{
	margin-top: 38px;
}
.features_images
{
	width: 100%;
}
// .features_image_1
// {
// 	width: calc((100% - 30px) / 2);
// 	margin-right: 30px;
// 	float: left;
// }
// .features_image_2
// {
// 	width: calc((100% - 30px) / 2);
// 	float: left;
// }
.features_image_1 img,
.features_image_2 img
{
	max-width: 100%;
}
