<app-nav-bar></app-nav-bar>
<app-full-intro></app-full-intro>
<!-- Start your project here-->
<div class="container container-deck">
  <div class="card-deck">

    <div class="section-full bg-change-section overlay-wraper pb-5" style="margin-top: 30px; text-align: center;">
      <br>
      <h5>Safety, speed and efficiency in the same service, to optimize your performance.</h5> 
      <br>
       <h1 style="align-items: center !important;"> We're Karryngo !!</h1>
       <br>
      <div class="container">

        <!-- badg -->
        <div class="card responsive">
          <div class="card-body pt-md-4 align-content-center">
            <div class="row">
              <hr color="grey" width=100%>

              <!-- badg Item -->
              <div class="col-lg-4 badg_col">
                <div class="badg_item">
                  <div class="badg_image">
                    <img routerLink="/how-does-it-work" src="assets/img/Hand2Hand.png" alt="Hand 2 Hand">
                    <div class="badg_content">
                      <div class="badg_title">Hand 2 Hand</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- badg Item -->
              <div class="col-lg-4 badg_col">
                <div class="badg_item">
                  <div class="badg_image">
                    <img routerLink="/how-does-it-work" src="assets/img/MotorBike.png" alt="Bikes">
                    <div class="badg_content">
                      <div class="badg_title">Bike</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- badg Item -->
              <div class="col-lg-4 badg_col">
                <div class="badg_item">
                  <div class="badg_image">
                    <img routerLink="/how-does-it-work" src="assets/img/Car Delivery .png" alt="Cars">
                    <div class="badg_content">
                      <div class="badg_title">Cars</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <hr color="grey" width=100%>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="row container-not-magin">

  <div class="col-sm">
    <div class="container">
      <div class="text-left contener2">
        <h2>Why Choose us ?</h2>
        <p>
          About 64% of all on-line teens say that do things online that they would'nt want their parents to know
          about.
          11% of all adult internet users visit dating websites and spend their time in chatrooms.
        </p>

        <hr class="sparator text-left">

        <div class="row">
          <div class="col-sm media">
            <i class="fas fa-user-circle fa-3x jaune mx-4"></i>
            <div class="media-body my-3">
              <strong>Customer satisfaction</strong>
              <p class="text-icon">12 Handy Tips for Generating Leads Through Cold Calling</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm media">
            <i class="fas fa-chart-bar fa-3x jaune mx-4"></i>
            <div class="media-body my-3">
              <strong>Management Reporting</strong>
              <p class="text-icon">12 Handy Tips for Generating Leads Through Cold Calling</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm media">
            <i class="fas fa-shopping-cart fa-3x jaune mx-4"></i>
            <div class="media-body my-3">
              <strong>Freight Payment Solution</strong>
              <p class="text-icon">12 Handy Tips for Generating Leads Through Cold Calling</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm Commitment">
    <div class="container">
      <div class="text-center view">
        <img class="image-back img-fluid" src="assets/img/bg_side_4-1.jpg" alt="image">
        <div class="mask mask-margin">
          <div class="card card-back text-left">
            <h3 class="card-title jaune my-4 content-card">KarrynGo Commitment</h3>
            <hr>
            <p class="white-text content-card mx-4">
              We are commited to be the leading logistic solution provider to our customer. We continually
              improving & implementing a quality management to achieve it.
            </p>
            <img class="mx-4 signature img-fluid" src="assets/img/signature.png" alt="Signature">
            <p class="white-text content-card mx-4">ANSELME NANA</p>
            <p class="yellow-text content-card mx-4">CEO KarrynGo</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row container-not-magin container1">

  <div class="col-sm">
    <div class="container">
      <div class="text-center container3">
        <h1>Your are a shipper/Carrier</h1>
        <p class="title-form">KNOW YOUR INNER POWER</p>
        <button class="text-center btn btn-black register-button" (click)="registration()">REGISTER</button>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="container">
      <div class="text-center container3">
        <h3>What do they say about us ?</h3>
        <div class="row">
          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">


            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
              <li data-target="#multi-item-example" data-slide-to="1"></li>
              <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

              <!--First slide-->
              <div class="carousel-item active">
                <!--circle image-->
                <div class="media mx-4">
                  <img class="profile rounded-circle border border-dark" alt="100x100" src="assets/img/Omari_edit.jpg"
                    data-holder-rendered="true">
                  <div class="media-body">
                    <i class="fas fa-quote-left fa-2x"></i>
                    <span class="title-form carousel-text">3 SMART REASONS WHY YOU SHOULD CONSIDER PAYING FOR YOUR
                      TRAFIC</span>
                    <i class="fas fa-quote-right fa-2x"></i>
                    <div class="my-4 text-center">
                      <p class="description-profil">THSEPO AUGUSTINE</p>
                      <span class="title-form ">CEO Malaba Cars</span>
                    </div>
                  </div>
                </div>
                <!--circle image-->
              </div>
              <!--/.First slide-->

              <!--Second slide-->
              <div class="carousel-item">
                <!--circle image-->
                <div class="media mx-4">
                  <img class="profile rounded-circle border border-dark" alt="100x100" src="assets/img/Omari_edit.jpg"
                    data-holder-rendered="true">
                  <div class="media-body">
                    <i class="fas fa-quote-left fa-2x"></i>
                    <span class="title-form carousel-text">3 SMART REASONS WHY YOU SHOULD CONSIDER PAYING FOR YOUR
                      TRAFIC</span>
                    <i class="fas fa-quote-right fa-2x"></i>
                    <div class="my-4 text-center">
                      <p class="description-profil">THSEPO AUGUSTINE</p>
                      <span class="title-form ">CEO Malaba Cars</span>
                    </div>
                  </div>
                </div>
                <!--circle image-->
              </div>
              <!--/.Second slide-->

              <!--Third slide-->
              <div class="carousel-item">
                <!--circle image-->
                <div class="media mx-4">
                  <img class="profile rounded-circle border border-dark" alt="100x100" src="assets/img/Omari_edit.jpg"
                    data-holder-rendered="true">
                  <div class="media-body">
                    <i class="fas fa-quote-left fa-2x"></i>
                    <span class="title-form carousel-text">3 SMART REASONS WHY YOU SHOULD CONSIDER PAYING FOR YOUR
                      TRAFIC</span>
                    <i class="fas fa-quote-right fa-2x"></i>
                    <div class="my-4 text-center">
                      <p class="description-profil">THSEPO AUGUSTINE</p>
                      <span class="title-form ">CEO Malaba Cars</span>
                    </div>
                  </div>
                </div>
                <!--circle image-->
              </div>
              <!--/.Third slide-->

            </div>
            <!--/.Slides-->

          </div>
          <!--/.Carousel Wrapper-->

        </div>
      </div>
    </div>
  </div>
</div>
<app-front-footer></app-front-footer>