<a (click)="selectUser()" [class]="'list-group-item list-group-item-action  list-group-item-light rounded-0 '+ (active?'active':'') ">
    <div class="media"><img [src]="img" alt="user" width="50" class="rounded-circle">
    <div class="media-body ml-4">
        <div class="d-flex align-items-center justify-content-between mb-1">
        <h6 class="mb-0">{{user.getSimpleName()}}</h6><small class="small font-weight-bold">{{online?"online":"no online"}}</small>
        </div>
        <p class="font-italic text-muted mb-0 text-small">{{lastMessage}}</p>
    </div>
    </div>

</a>