<div class="container py-5 px-4">

  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Recent</p>
        </div>

        <div class="messages-box">
          <app-list-user-message [listUser]="userDiscussionList" (selectUserEvent)="selectedUserDiscuss($event)"></app-list-user-message>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0">
      <app-display-messages [discussFils]="messageToDisplay"></app-display-messages>

      <app-typing-zone (send)="newMessage($event)"></app-typing-zone>

    </div>
  </div>
</div>
