.sidebar .nav-link {
  display: block;
  padding: 0.75rem 1rem;
  color: rgb(158, 63, 63) !important;
  text-decoration: underline !important;
  background: transparent;
}
.sidebar .nav-link:hover {
  color: white !important;
  background: #d8ad20 !important;
}
.sidebar .nav-link:active {
  color: white !important;
  background: #47412e71 !important;
}
