.card-body {
  padding: 0 !important;
}
.card {
  word-wrap: normal !important;
}

.centreVerticalement {
  display: inline-block;
  vertical-align: middle;
  float: none;
 }
 
div.tab,
.tab-content,
div.animated {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// div.animated {
//   display: block;
//   margin-left: 20%;
//   margin-right: auto;
// }

nav > .nav.nav-tabs{

  border: none;
    color:rgba(255, 255, 255, 0.797);
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:rgba(255, 255, 255, 0.831);
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e7c53c ;
}
.tab-content{
  background: #fdfdfd92;
    // line-height: 25px;
    border: 1px solid none;
    border-top:5px solid #fecd0b;
    border-bottom:5px solid #fecd0b;
    padding:30px 25px;
}
.cont2{
  background: #fdfdfd6b;
}


nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #fecd0b;
    color: black !important;
    border-radius:0;
    transition:background 0.20s linear;
}
