.map {
    margin-top: -500px;
    margin-right: 25px;
    border: 5px solid rgba(255, 255, 255, 0.30);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    float: right;
}

#map {
    height: 100%;
}