<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <!-- <div class="card-header">
          <h3 class="jaune text-left mx-4 mb-4">
          Map
          </h3>
        </div> -->
        <div class="card-body">
          <div class="main-content responsive-img"><div class="container">
            <div style="text-align:center">
              <h1>
                Google Map Geolocation
              </h1>
            </div>
          
            <div class="alert alert-warning">
              Note: Once Track me is enabled, refresh page to enable Find me feature!
            </div>
            <div>
              <div>
                <button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Find me</button>
                <button class="btn btn-primary" (click)="trackMe()">Track me</button>
              </div>
              <div class="text-white">
                <span>Latitude: {{currentLat}}</span>
                <span>Longitude: {{currentLong}}</span>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <div class="text-center">
                    <h3>
                      <div #gmap style="width:100%;height:300px"></div>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
            <!-- <iframe src="https://www.google.com/maps?q=&z=19&t=&ie=UTF8&output=embed" style="width: 1485px; height:855px;"></iframe><noscript> Full functionality of this site requires JavaScript to be enabled. Learn how to <a href="https://javascriptdownload.org/">Enable JavaScript</a> in your browser.</noscript> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>